<!DOCTYPE html>
<html>
<head>
    <title>VueJS Tutorial</title>
	<link rel="icon" href="images/ironman.png" type="image/x-icon" />
	<link rel="stylesheet" href="styles.css" />
	<script src="vue.js"></script>	
</head>
<body>
	<div id="app" class="game-space">

		<div class="game-title">{{ gameTitle }}</div>

		<div class="characters">
			<div class="character-col" v-for="item in player">
				<div class="img-wrapper" :style="{backgroundImage: 'url(' + item.avatarUrl + ')'}"></div>
				<div class="character-heal">
					<div class="character-heal-chart" :style="{width: item.heal + '%'}">
						<span class="character-heal-figure">{{ item.heal }}</span>
					</div>
				</div>
				<div class="character-name">{{ item.name }}</div>
			</div>
			<div class="character-col" v-for="item in enemy">
				<div class="img-wrapper" :style="{backgroundImage: 'url(' + item.avatarUrl + ')'}"></div>
				<div class="character-heal">
					<div class="character-heal-chart" :style="{width: item.heal + '%'}">
						<span class="character-heal-figure">{{ item.heal }}</span>
					</div>
				</div>
				<div class="character-name">{{ item.name }}</div>
			</div>
		</div>

		<button class="btn-start" @click="attack()">Start a new game</button>

		<ul class="btn-control-block">
			<li class="btn-control btn-attack">Attack</li>
			<li class="btn-control btn-skill">Skill</li>
			<li class="btn-control bth-heal">Heal</li>
			<li class="btn-control btn-give-up">Give up</li>
		</ul>

	</div>
    <script src="main.js"></script>
</body>
</html>