* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fafafa;
}

.game-space {
    margin: 0 auto;
    width: 1080px;
}

.game-title {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    background-image: -webkit-linear-gradient(90deg,#11bdbd,#b0e04e 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3px;
}

.characters {
    display: flex;
}

.character-col {
    width: 50%;
    text-align: center;
    padding: 20px 50px;
}

.character-col .img-wrapper {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: 350px;
}

.character-col .character-heal {
    width: 100%;
    height: 30px;
    background-color: #ddd;
}

.character-col .character-heal .character-heal-chart {
    height: 100%;
    background-color: green;
}

.character-col .character-heal .character-heal-figure {
    color: #fff;
    text-align: center;
    background-color: transparent;
    height: 100%;
    line-height: 30px;
    font-size: 18px;
}

.character-col .character-name {
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
}

